body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    position: relative;
    background-color: blanchedalmond;
    overflow-x: hidden;
}

header {
    background-color: blanchedalmond;
    color:rgb(123, 94, 58);
    padding: 20px;
}

h1, h3 {
    margin: 0;
}

.profile-picture {
    width: 30%;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.home-text {
    border: none;  
    outline: none;
    background: transparent; 
    display: inline-block;
    max-width: 100%; 
    margin-top: 100px;
    font-size: 20px;
    font-family: fantasy;
    color: rgb(123, 94, 58);
}

.tab-content::after {
    content: "";
    display: table;
    clear: both;
}

label {
    background-color: darkgoldenrod;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    margin-left: 2px;
    display: inline-block;
}

label:hover {
    background-color: darksalmon;
    color: whitesmoke;
}

.other-tab-content {
    color: rgb(116, 85, 47);
    font-family: Cochin;
    font-size: 20px;
    line-height: 1.5; 
    max-width: 94%;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px; 
    box-sizing: border-box; 
}

input {
    position: absolute;
    right: 100%;
}

div{
    display: none;
    padding: 20px;
    background-color: burlywood;
    margin: 10px;
    border: none;
    outline: none;
}

#homeTab:checked + #home {
    display: block;
}

input:checked + div {
    display: block;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkgoldenrod; 
    color: white; 
    text-align: center;
    padding: 10px 0; 
    font-size: 14px; 
    z-index: 1000; 
}